
@{
    ViewBag.Title = "Payment";
}

<h2 style="font-weight:bold; color:white;">Your Payment Status :--</h2>

<div class="content">
    <h1>Thank you for your purchase !!!!! <br /></h1>
    <h1>We hope you enjoy your new movie.<br /></h1>
    <h1>Happy watching !!!</h1>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <button class="btn btn-warning">@Html.ActionLink("Back To Home", "Index", "Home")</button>
</div>

<style>

    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body {
        background-image: url('../../images/facebook-thumb.jpg');
        background-size: cover;
        background-blend-mode: darken;
    }

    .content {
        margin-top: 100px;
        padding: 0;
        color: white;
    }
</style>

