
@{
    ViewBag.Title = "Begin";
}



<div class="content">

    <h1 style="font-weight:bold; color :white;" class="alert alert-seccess pt-4">An Amazing Experience <br /><br /> Where Every frame tells a story: Your cinematic journey starts here</h1>

</div>

<br />

<br />

<br />
<br />

@*<div class="search">

    <input type="text" placeholder="Discover your style..." class="input">

</div>

<div class="submit">

    <a href="~/Views/Home/Eyewear">Submit</a>

</div>*@

<style>


    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body {
        background-size: cover;
        background-image: url('../../images/360_f_286323187_mdk3n4ngdapkumhncdbe3rjsofkqx4nz.jpg');
        background-blend-mode: darken;
    }

    h1{
        padding-top : 120px;
    }

    .content {
        margin-top: 100px;
        padding: 0;
        color: white;

        /*max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
    }

    /*.content {
        position: absolute;
        color: #fff;
        margin-top: 11%;
        margin-left: 5%;
    }

        .content h1 {
            font-size: 50px;
        }

    .search {
        position: absolute;
        margin-top: 20%;
        margin-left: 5%;
    }

        .search input {
            padding: 14px;
            width: 500px;
            border: 0;
            outline: none;
            border-radius: 16px;
            margin: 5px;
        }

    .submit {
        position: absolute;
        margin-top: 26%;
        margin-left: 10%;
    }

        .submit a {
            padding: 10px 20px;
            color: #fff;
            background-color: rgb(100, 102, 67);
            text-decoration: none;
            border-radius: 10px;
            margin: 15px;}*/

    /*.container{
        max-width: 800px;
        padding: 25px 0px 25px 0px;
        position: relative;
        background-color: rgpa(255,255,255,0.8);
        top: 100px;
        border-radius: 10px;*/
    

        
</style>


