@{
    ViewBag.Title = "Contact";
}
@*<main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </main>*@

<h2>Contact Us</h2>

<div class="content" >
    <div style="text-align:left">
        

    </div>

    <label for="address" >Address</label>
    <p>Phase 3, Plot # 26, MIDC, Hinjawadi Rajiv Gandhi Infotech Park, Hinjawadi, Pimpri-Chinchwad, Maharashtra 411057</p>
    <br />
    <br />

    <label for="Email" >Email</label>
    <p>2318513@cognizant.com</p>
    <br />
    <br />
    <label for="Website" >Website</label>
    
    <p>Welcome To our website</p>
    <br />
    <br />


</div>

<style>

    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body {
        /*background: rgba(6,6,6,0) url('../../images/background images/shoeimg9.jpg') center center fixed;*/
        background-size: cover;
        background-blend-mode: darken;
        background-color: antiquewhite;
    }

    .content {
        margin-top: 100px;
        padding: 0;
        color: black;
    }
</style>